{% extends "template.html" %}
{% block conteudo %}


      <form class="navbar-form navbar-left" role="search" action="/criar" method="post">
          <div class="form-group">
            <input type="text" class="form-control"  id="busca" name="busca" placeholder="Digite a palavra ou lista de busca separada por virgula"> <br>
            <br>
            <input type="text" class="form-control"  id="qtd" name="qtd" placeholder="Digite a quantidade de tweets a serem buscados"> <br>
            <br>
           
           <select id=tipo>
                <option value="historic" >historic</option>
                <option value="stream" selected="selected" >stream</option>
                </option></select>
            <br>
            
           <br>
           <br>
            <button type="submit" class="btn btn-outline-primary">Busca</button>
          </div>
        
      </form>

{% endblock %}