{% extends "template.html" %}
{% block conteudo %}


      <form class="navbar-form navbar-left" role="search" action="/criar" method="post">
          <div class="form-group">
            <input type="text" class="form-control"  id="busca" name="busca" placeholder="Palavra procurada "> <br>
            <br>
            <input type="text" class="form-control"  id="qtd" name="qtd" placeholder="Quantidade de tweets "> <br>

           <br>
            <button type="submit" class="btn btn-outline-primary">Busca</button>
          </div>
        
      </form>

{% endblock %}